#page-wrapper { width: 100%; margin: auto;} 
#headerAndMenu { width: 100%; } 
#headerAndMenuInner { width: 100%; } 
#headerContainer { width: auto;   } 
#topMainMenu { width: 100%; } 
#shopmenuinner { width: 100%; } 
#main_container { width: 100%; } 
